<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/common.css"></link>
    <title>Download</title>
</head>
<body>
    <div class="container">
        <div class="title">FIle Sharing Portal</div>
        <div class="filemeta">
            <div class="icon"><img src="/images/file-small.png" alt="Icon" height="80px" width="80px"></div>
            <div class="filename">Filename: <span class="name"><%- filename %></span></div>
            <div class="filesize">Size <span class="size"><%- filesize %></span></div>
        </div>
        <a class="download" href="<%- link %>">Download</a>
    </div>
    <footer>AIUB CSE B19</footer>
</body>
</html>