<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/header.ejs') %>
    <link rel="stylesheet" href="/styles/common.min.css"></link>
</head>
<body>
    <div class="offline"></div>
    <div class="container">
        <div class="title">FIle Sharing Portal</div>
        <div class="filemeta">
            <div class="icon"><img src="/images/file-small.png" alt="Icon" height="80px" width="80px"></div>
            <div class="filename">Filename: <span class="name"><%- filename %></span></div>
            <div class="filesize">Size <span class="size"><%- filesize %></span></div>
        </div>
        <a class="download" download href="<%- link %>">Download</a>
    </div>
    <footer>AIUB CSE B19 - <a href="https://github.com/itsfuad/aiubfileshare" style="background: none;margin: 0;padding: 0;text-decoration: underline;">Source code</a></footer>
</body>
</html>