<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('layout/header.ejs') %>

  <link rel="stylesheet" href="/styles/style.min.css"></link>

  <script defer src="/libs/qrcode.js"></script>
  <script defer src="/scripts/app.min.js?v=2"></script>

</head>
<body>
    <div class="offline"></div>
    <div class="container">
        <div class="title" id="title">FIle Sharing Portal</div>
        <form id="container1" class="active">
            <label for="file" id="drop_zone" class="dropZone">
                <div class="chooser">
                    <p>Choose file from device</p>
                    <p>Or</p>
                    <p>Drag and drop here</p>
                </div>
                <div class="filemeta hidden">
                    <div class="icon"><img src="/images/file-small.png" alt="Icon" height="80px" width="80px"></div>
                    <div class="filename">Filename: <span class="name"> filename</span></div>
                    <div class="filesize">Size <span class="size"> filesize </span></div>
                </div>
            </label>
            <div class="err"></div>
            <input style="display: none;" type="file" id="file" name="file"/>
            <input type="submit" id="upload" value="Upload" />
        </form>
        <div id="container2">
            <div class="progress active">
                <div id="percent">0%</div><div class="bar"></div>
            </div>
            <div class="out">
                <label for="qrcode">Scan this QR code</label>
                <div id="qrcode"></div>
                <div id="copyLink" class="link btn" data-link>Copy link</div>
                <div class="btn" id="reupload">Upload more files</div>
            </div>
        </div>
    </div>
    <div class="popup-message"></div>
    <footer>AIUB CSE B19 - <a href="https://github.com/itsfuad/aiubfileshare" style="background: none;margin: 0;padding: 0;text-decoration: underline;">Source code</a></footer>
</body>
</html>