<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('layout/header.ejs') %>

  <link rel="stylesheet" href="/styles/style.min.css"></link>

  <script defer src="/libs/qrcode.js"></script>
  <script defer src="/scripts/app.min.js?v=2"></script>

</head>
<body>
    <div class="offline"></div>
    <div class="container">
        <div class="title" id="title">FIle Sharing Portal</div>
        <form onsubmit="event.preventDefault();" id="container1" class="active">
            <label for="file">Select file from device</label>
            <div class="err"></div>
            <input type="file" id="file" name="file" required/>
            <input type="submit" id="upload" value="Upload" />
        </form>
        <div id="container2">
            <div class="progress active">
                <div id="percent">0%</div><div class="bar"></div>
            </div>
            <div class="out">
                <label for="qrcode">Scan this QR code</label>
                <div id="qrcode"></div>
                <div id="copyLink" class="link btn" data-link>Copy link</div>
                <div class="btn" id="reupload">Upload more files</div>
            </div>
        </div>
    </div>
    <div class="popup-message"></div>
    <footer>AIUB CSE B19 - <a href="https://github.com/itsfuad/aiubfileshare" style="background: none;margin: 0;padding: 0;text-decoration: underline;">Source code</a></footer>
</body>
</html>