<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/header.ejs') %>
    <link rel="stylesheet" href="/styles/common.min.css"></link>
</head>
<body>
    <div class="offline"></div>
    <div class="container noSelect">
        <div class="title noSelect">FIle Sharing Portal</div>
        <form action="<%- action %> " method="post" onsubmit="return validate();" >
            <label for="studentID">&gt;Enter Id<span class="blink noSelect">_</span></label>
            <div class="err noSelect"></div>
            <input type="number" name="studentID" id="sId" placeholder="XX-XXXXX-X" autocomplete="off" required/>
            <button type="submit" id="submit" class="clickable">Value</button>
        </form>
    </div>
    <footer class="noSelect">Fuad Hasan - <a href="https://github.com/itsfuad/aiubfileshare" style="background: none;margin: 0;padding: 0;text-decoration: underline;">Source code</a></footer>
    <script defer src="/scripts/login.min.js"></script>
</body>
</html>
