<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/common.css"></link>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="title">FIle Sharing Portal</div>
        <form action="<%- action %> " method="post" onsubmit="return validate();" >
            <label for="studentID">Enter Id</label>
            <div class="err"></div>
            <input type="text" name="studentID" id="sId" placeholder="22-XXXXX-3" autocomplete="off" required/>
            <input type="submit" value="Login" />
        </form>
    </div>
    <footer>AIUB CSE B19</footer>
    <script defer src="/scripts/login.js"></script>
</body>
</html>