@use "common.css";

:root{
    --percent: 0%;
}

.progress{
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.bar{
    height: 20px;
    width: 100%;
    background: #83b1d8;
    position: relative;
    &::before{
        content: " ";
        position: absolute;
        height: 100%;
        width: var(--percent);
        background: #ddedfc;
        z-index: 2;
    }
}


input[type=file]{
    padding: 0;
    cursor: pointer;
}

input[type=file]::file-selector-button {
    border: 2px solid rgba(255, 255, 255, 0.316);
    padding: .2em .4em;
    border-radius: .2em;
    background-color: rgba(255, 255, 255, 0.316);
    transition: 600ms;
    font-family: 'now';
    height: 40px;
}

input[type=file]::file-selector-button:hover {
    color: white;
    background-color: rgb(49, 112, 209);
    border: 2px solid rgb(49, 112, 209);
}

#container1{
    display: none;
    transform: scale(0);
    transition: 200ms;
    &.active{
        display: flex;
        transform: scale(1);
    }
}


#container2{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: scale(0);
    transition: 200ms;
    &.active{
        display: flex;
        transform: scale(1);
    }
}

.progress{
    display: none;
    transform: scale(0);
    transition: 200ms;
    &.active{
        display: flex;
        transform: scale(1);
    }
}


.out{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: 200ms;
    &.active{
        display: flex;
        transform: scale(1);
    }
}

#qrcode{
    img{
        margin: 15px 0 0 0;
        border-radius: 4px;
        outline: 2px solid white;
    }
}


.popup-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    left: 50%;
    background: #000000bb;
    padding: 10px;
    border-radius: 15px;
    font-size: .6rem;
    transform: translateX(-50%);
    z-index: 100;
    backdrop-filter: blur(2px);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: 100ms ease-in-out;
    &.active{
        visibility: visible;
        opacity: 1;
    }
}